@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Alkatra', cursive;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
}
nav div .logo{
    width: 300px;
}
nav{
    display: flex;
    width: 84%;
    margin: auto;
    padding: 20px 0;
    align-items: center;
    justify-content: space-between;
}

nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.title{
    margin-left: 8%;
    margin-top: 13%;
}

.title h1{
    font-size:50px;
    color: black;
    margin-bottom: 10px;
}

.title p{
    color: black;
    line-height: 22px;
}

.title a{
    background-color: black;
    padding: 3px 10px;
    text-decoration: none;
    font-weight: bold;
    display: inline;
    margin: 10px 50px;
    border-radius: 2px;
    color: white;
}

.image{
   height: 90%;
   position: absolute;
   right: 70%;
   bottom: -600px;
   transform: translateX(20%);
   transition: bottom 1s, left 1s;
   border-radius: 5%;
}
/* 
#section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 3rem;
    color: black;
}

.about h2{
    font-size: 30px;
    margin-bottom: 5px;
    font-weight: lighter;
    text-align: center;
}

.about2 ul li{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-style: inherit;
}

.about h1{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.about h3{
    margin-top: 25px;
    margin-left: 20px;
    font-weight: lighter;
    text-align: center;
} */
.about{
    margin-top: 20px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
    color: black;
}

.about h2{
    margin-top: 20px;
    color: black;
    font-size: large;
}

.about p{
    margin-top: 10px;
    color:black;
    font-size: medium;
    font-weight: lighter;
}

.about2 ul li{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
}

.about2 h1{
    margin-top: 20px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.about2 h1 h2{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.about2 h3{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.about2 p{
    margin-top: 10px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.images img{
    height: 80%;
    position: absolute;
    right: 70%;
    bottom: -600px;
    transform: translateX(20%);
    transition: bottom 1s, left 1s;
}

.images :hover .girl{
    left: 10%;
}

.heading h2{
    margin-top: 40px;
    margin-left: 45%;
    font-weight: bold;
    font-style: normal;
}

.iconDiv{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon{
    width: 50px;
}

.icon i{
    font-size: 20px;
}
